{{#rows}}
<div class="grid-row" id="row-{{@index}}">
  {{#../cols}}
	<div class="grid-cell" id="cell-{{../this}}-{{@index}}">
      <a href="#">{{../this}}, {{this}}</a>
	</div>
  {{/../cols}}
</div>
{{/rows}}